// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $body-background !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.container.header,
.container.preheader {
  background: $body-background;
}

.body-drip {
  border-top: 8px solid #663399;
}

p {
  hyphens: none;
}

// Full Width Headers
.header {
  margin-bottom: 20px;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.logo-header {
  max-width: 200px;
}


.preheader {
  background: $body-background;
  a {
    padding: 10px;
    font-size: 12px;
  }
}

// Footer

.footer {
  background: $body-background !important;
  p {
    font-size: 14px;
    text-align: center;
  }
  span {
    font-weight: bold;
  }
  .unsub {
    font-size: 14px;
  }
}

.logo-footer {
  max-width:100px;
}

// Elements
.divider {
  background: none;
  img {
    width: 100%;
  }
}

.table {
  .row {
    border-bottom: 1px solid #ccc;
    margin: 15px 0 10px 0;
  }
}

hr {
  margin: 25px 0;
}

.text-center {
  text-align: center;
}

.subheading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 12px;
}

.social-icon {
  height: 40px;
  margin: 10px;
}

 .avatar {
   border-radius: 200px;
 }

 .bg-aqua {
   background-color: $secondary-color;
 }

.btn {
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  background-color: $primary-color;
  color: $white;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.italic {
  font-style: italic;
}

.btn--outline {
  background-color: none !important;
  color: $black;
  border: 2px solid $black;
}

.bg-yellow {
  background-color: $bg-yellow;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
