<container class="footer">
  <row>
    <columns>
      <spacer size="32"></spacer>
      <a href="https://www.rythmia.com">
        <img src="assets/img/logo-footer.png" class="logo-footer text-center" />
      </a>
      <spacer size="32"></spacer>
      <center>
        <menu>
          <item href="https://www.facebook.com/rythmia"><img src="assets/img/social-icon-fb.png" class="social-icon" /></item>
          <item href="https://www.instagram.com/rythmia_"><img src="assets/img/social-icon-ig.png" class="social-icon" /></item>
          <item href="https://www.youtube.com/rythmia"><img src="assets/img/social-icon-yt.png" class="social-icon" /></item>
          <item href="https://www.twitter.com/rythmialac"><img src="assets/img/social-icon-twitter.png" class="social-icon" /></item>
        </menu>

        <spacer size="32"></spacer>

        <p>
          &copy; Rythmia Life Advancement Center<br />
          23805 Stuart Ranch Rd.<br>
          Suite 100<br>
          Malibu, California 90265<br>
          United States<br>
        </p>

        <spacer size="16"></spacer>

        <p>
          <span>Book now:</span>
          <br />
          +1 (844) 236-5674
        </p>

        <spacer size="16"></spacer>

        <menu>
          <item href="[UNSUBSCRIBE LINK]">Unsubscribe</item>
        </menu>
        <spacer size="16"></spacer>
      </center>

    </columns>
  </row>
</container>
